{% extends "index.html" %}
{% block contenido %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        {% if exito != null %}
            <h4>Se agregó exitosamente</h4>
        {% endif %}
        
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Registrar Cliente</div>
          <div class="card-body">
            <form method="POST" action="../controller/altaCliente.php">
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputName">Nombre</label>
                    <input class="form-control"  type="text" aria-describedby="nameHelp" name="nombre">
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputLastName">Apellido</label>
                    <input class="form-control"  type="text" aria-describedby="nameHelp" name="apellido" >
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">DNI</label>
                    <input class="form-control"  type="number" name="dni" >
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Telefono</label>
                    <input class="form-control"  type="text" name="telefono">
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">Fecha Nacimiento</label>
                    <input class="form-control" type="date" name="fechaNac" >
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Dirección</label>
                    <input class="form-control" type="text" name="direccion">
                  </div>
                </div>
                </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Observaciones</label>
                        <textarea class="form-control" name="observaciones"></textarea>
                        
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Imagen</label>
                        <input class="form-control" type="file" name="observaciones"></input>
                        
                    </div>
                </div>
              </div>
  
            <button class="btn btn-primary btn-block" type="submit">Agregar</button>

            </form>
            
          </div>

      </div>


        
    </div>
{% endblock%}