{% extends "index.html" %}
{% block contenido %}

    <div class="container-fluid">
      
        <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Listado de Clientes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>DNI</th>
                      <th>Modificar</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>DNI</th>
                      <th>Modificar</th>
                      <th>Eliminar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                   {% for clientes in listaDeClientes %}
                      <tr>
                        {% for key, cliente in clientes %}

                          {% if key == 'id' %}
                            {% set idCliente = cliente %}
                          {% else %}
                            <td> {{ cliente }} </td>
                          {% endif %}

                          {% if loop.last %}

                            <td><a href="../controller/modificarCliente.php?id={{idCliente}}"><span class="icon-pencil"></span></a></td>
                            <td><a href="../controller/eliminarCliente.php?id={{idCliente}}" onclick="return confirm('¿Estas seguro?')"><span class="icon-bin"></span></a></td>
                          {% endif %}

                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        
      </div>
    </div>
{% endblock%}