{% extends "index.html" %}
{% block contenido %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Modificar datos del Cliente</div>
          <div class="card-body">
          {% for c in cliente %}
            <form method="POST" action="../controller/modCliente.php">
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputName">Nombre</label>
                    <input class="form-control"  type="text" aria-describedby="nameHelp" name="nombre" value="{{c.nombre}}">
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputLastName">Apellido</label>
                    <input class="form-control"  type="text" aria-describedby="nameHelp" name="apellido" value="{{c.apellido}}">
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">DNI</label>
                    <input class="form-control"  type="number" name="dni" value="{{c.dni}}">
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Telefono</label>
                    <input class="form-control"  type="text" name="telefono" value="{{c.telefono}}">
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">Fecha Nacimiento</label>
                    <input class="form-control" type="date" name="fechaNac" value="{{c.fechaNac}}" >
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Dirección</label>
                    <input class="form-control" type="text" name="direccion" value="{{c.direccion}}">
                  </div>
                </div>
                </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Observaciones</label>
                        <textarea class="form-control" name="observaciones">{{c.observaciones}}</textarea>
                        
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">

                        <label for="exampleInputEmail1">Imagen</label>
                    <div class="col-md-12">

                        <img src="../imagenesClientes/{{c.imagen}}" style="width: 100%; height: 100%">
                        
                    </div>
                </div>
              </div>
            <input type="hidden" name="id" value="{{c.id}}">
            <button class="btn btn-primary btn-block" type="submit">Guardar</button>

            </form>
           {% endfor %} 
          </div>

      </div>


        
    </div>
{% endblock%}