{% extends "index.html" %}
{% block contenido %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        {% if existePack != null %}
            <h5>La actividad ya existe, intente con otro nombre.</h5>
        {% endif %}
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Modificar Pack</div>
          <div class="card-body">
            <form method="POST" action="../controller/modPack.php">
              {% for keyp,p in pack %}
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputName">Nombre</label>
                    <input class="form-control"  type="text" aria-describedby="nameHelp" name="nombre" value="{{p.nombre}}" required>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputName">Precio</label>
                    <input class="form-control"  type="number" aria-describedby="nameHelp" name="precio" value="{{p.precio}}" required>
                  </div>
                  
                </div>
              </div>
              <div class="form-group">
                  <div class="form-row">
                      <div class="col-md-6">
                        <label for="exampleInputName">Descripción</label>
                        <textarea class="form-control" name="descripcion">{{p.descripcion}}</textarea>
                      </div>
                     
                      <div class="col-md-6">
                         <label for="exampleInputName">Actividades</label>

                      
                         {% for  key, actividad in actividadesPack %}
                                       
                                              <div class="form-row">

                                              
                                                  <div>
                                                      <h6>{{actividad.nombre}}</h6>
                                                  </div>
                                                 
                                              </div>
                                              
                                      
                                   {% endfor %}
                     </div>
                  </div>
                  
              </div>
               <input type="hidden" name="id" value="{{p.id}}">
              <button class="btn btn-primary btn-block" > Agregar</button> 
              {% endfor %}
            </form>
            
          </div>

      </div>        
    </div>
{% endblock%}