{% extends "index.html" %}
{% block contenido %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        {% if exito != null %}
            <div class="alert alert-info">No se puede ver el cliente.</div>
        {% endif %}
        
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Datos del Cliente</div>
          <div class="card-body">
            
            {% for key,c in cliente %}
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputName">Nombre</label>
                    <h6>{{c.nombre}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputLastName">Apellido</label>
                     <h6>{{c.apellido}}</h6>
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">DNI</label>
                    <h6>{{c.dni}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Telefono</label>
                    <h6>{{c.telefono}}</h6>
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">Fecha Nacimiento</label>
                    <h6>{{c.fechaNac| date("d/m/Y")}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Dirección</label>
                    <h6>{{c.direccion}}</h6>
                  </div>
                </div>
                </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Observaciones</label>
                       <h6>{{c.observaciones}}</h6>
                        
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">

                        <label for="exampleInputEmail1">Imagen</label>
                    <div class="col-md-12">
                        {%if c.imagen == NULL %}
                            <div class="alert alert-info">No tiene imagen agregada.</div>
                        {%else%}
                            <img src="../imagenesClientes/{{c.imagen}}" style="width: 100%; height: 100%">
                        {%endif%}
                    </div>
                </div>
              </div>

             
             <a href="../controller/modificarCliente.php?id={{c.id}}"><button class="btn btn-primary btn-block">Modificar</button></a>
            {% endfor %}
            
            
          </div>

        
        </div>



        
    </div>
{% endblock%}