{% extends "index.html" %}
{% block contenido %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        {% if exito != null %}
            <h4>Se agregó exitosamente</h4>
        {% endif %}
        
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Registrar Cliente</div>
          <div class="card-body">
            <form method="POST" action="../controller/altaCliente.php">
            {% for key,c in cliente %}
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputName">Nombre</label>
                    <h6>{{c.nombre}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputLastName">Apellido</label>
                     <h6>{{c.apellido}}</h6>
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">DNI</label>
                    <h6>{{c.dni}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Telefono</label>
                    <h6>{{c.telefono}}</h6>
                  </div>
                </div>
              </div>
               <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="exampleInputPassword1">Fecha Nacimiento</label>
                    <h6>{{c.fechaNac}}</h6>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleConfirmPassword">Dirección</label>
                    <h6>{{c.direccion}}</h6>
                  </div>
                </div>
                </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Observaciones</label>
                       <h6>{{c.observaciones}}</h6>
                        
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <label for="exampleInputEmail1">Imagen</label>
                        <img src="../imagenesClientes/{{c.imagen}}">
                        
                    </div>
                </div>
              </div>
             
             <button class="btn btn-primary btn-block"><a href="../controller/modificarCliente.php?id={{c.id}}">Modificar</a></button>
            {% endfor %}
            </form>
            
          </div>

        
        </div>



        
    </div>
{% endblock%}